# OpenAI Configuration
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_API_KEY=your_openai_api_key_here

# Eleven Labs Configuration
ELEVEN_LABS_API_KEY=your_elevenlabs_api_key_here
ELVEN_LABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVEN_LABS_MODEL_ID=eleven_monolingual_v1
